.access {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  &__text-block,
  &__image {
    max-width: 50%;
  }
  &__text-block {
    margin-top: 45px;
  }
  &__image {
    margin-top: -100px;
  }
  &__title {
    font-size: 60px;
    line-height: 1.2;
    margin: 0;
  }
  &__subtitle {
    margin: 0;
    font-size: 40px;
    color: $color-blue;
    line-height: 1.2;
    font-weight: 600;
  }
  &__text {
    margin-top: 43px;
    color: $color-grey;
    font-size: 18px;
    line-height: 1.5;
    max-width: 55%;
  }
}
