.main {
  background: url("../src/assets/images/app_desktop.png") no-repeat right top 30px,
    url("../src/assets/images/main_bg.png") no-repeat left bottom, linear-gradient(180deg, #eaeffa 0%, #ffffff 83.33%);
  padding-top: 121px;
  position: relative;

  &__text-block {
    margin-top: 55px;
    padding-bottom: 340px;
    max-width: 70%;
  }

  &__title {
    font-size: 80px;
    line-height: 1.2;
    margin: 0;
  }
  &__subtitle {
    color: $color-blue;
    margin: 0;
    font-size: 61px;
    font-weight: 600;
    line-height: 1.2;
  }
  &__text {
    margin: 43px 0 0;
    max-width: 50%;
    color: $color-grey;
    font-size: 18px;
    line-height: 1.5;
  }
  &__buttons {
    display: flex;
    align-items: center;
  }
  &__button {
    background-color: $color-blue;
    display: block;
    padding: 18px 35px;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: 0 8px 18px $color-blue;
    }
  }
  &__platforms {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 0 28px;
    &-item {
      & + & {
        margin-left: 30px;
      }
      svg {
        fill: #cdd2e1;
        transition: fill 0.3s ease;
      }
      &:hover svg {
        fill: $color-blue;
      }
    }
  }
}
